/* -------------------------角色管理的层叠样式表---------------------------- */


#content {
    width: 890px;
    height: 550px;
    background: #D9DBD4;
    padding: 50px;
}

#addRole {
    width: 70px;
    height: 35px;
    border-radius: 4px;
    font-weight: 700;
    background-color: #036B03;
    color: white;
    border: 1px solid #818181;
    margin: 15px 0;
}

#tbTitle {
    width: 870px;
    height: 50px;
    background-color: #6CA074;
    padding-left: 20px;
    line-height: 50px;
}

#roleTb {
    width: 890px;
    border-collapse: collapse;
}

#roleTb th {
    height: 50px;
    border: 1px solid gray;
}

#roleTb td {
    height: 50px;
    border: 1px solid gray;
    text-align: center;
    font-size: 14px;
}

#roleTb a {
    color: #0EA9D8;
    margin: 0 5px;
}

#addRoleIf,
#changeRoleIf {
    width: 300px;
    height: 170px;
    background-color: #FFFFFF;
    position: fixed;
    top: 209px;
    left: 314px;
    border: 1px solid grey;
    padding: 30px;
    text-align: center;
}

#addRoleIf input[type="text"],
#changeRoleIf input[type="text"] {
    width: 200px;
    height: 40px;
    border: 1px solid grey;
    padding-left: 15px;
    margin-bottom: 30px;
    font-size: 15px;
}

#addRoleIf input[type="button"],
#changeRoleIf input[type="button"] {
    width: 50px;
    height: 25px;
    border-radius: 4px;
    background-color: #036B03;
    color: white;
    border: 1px solid #818181;
}

#changeRolePowerIf {
    width: 300px;
    height: 250px;
    background-color: #FFFFFF;
    position: fixed;
    top: 209px;
    left: 314px;
    border: 1px solid grey;
    padding: 30px;
}

#changeRolePowerIf>div {
    margin-left: 15px;
}

#changeRolePowerIf li {
    padding-left: 15px;
}