<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>addGood</title>
    <script src="./application/views/scripts/jquery.js" type="text/javascript"></script>
    <script src="./application/views/scripts/angular.js" type="text/javascript"></script>
    <link rel="stylesheet" href="./application/views/css/public.css" type="text/css">
    <link rel="stylesheet" href="./application/views/css/addGood.css" type="text/css">
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div id="content">
        <div id="headTitle">发布促销</div>
        <form name="goodForm" id="goodForm">
            <table id="goodTb">
                <tr>
                    <td>推广方式：</td>
                    <td>
                        <select ng-model="typeSelect">
                            <option value="秒杀">秒杀</option>
                            <option value="普通">普通</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>促销商品名：</td>
                    <td><input type="text" ng-model="goodName" name="goodName" required></td>
                </tr>
                <tr  ng-show="typeSelect == '秒杀'">
                    <td>促销时间段：</td>
                    <td>
                        <select ng-model="timeSelect">
                            <option value="1">6：00-8:00</option>
                            <option value="2">8:00-10:00</option>
                            <option value="3">10:00-12:00</option>
                            <option value="4">12:00-14:00</option>
                            <option value="5">14:00-16:00</option>
                            <option value="6">16:00-18:00</option>
                            <option value="7">18:00-20:00</option>
                            <option value="8">20:00-22:00</option>
                            <option value="9">22:00-24:00</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>商品分类：</td>
                    <td>
                        <select ng-model="classifySelect">
                            <option value="1">手表配饰</option>
                            <option value="2">运动户外</option>
                            <option value="3">食品</option>
                            <option value="4">女装</option>
                            <option value="5">家纺</option>
                            <option value="6">男装</option>
                            <option value="7">电子</option>
                            <option value="8">男鞋</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>原价：</td>
                    <td><input type="number" ng-model="originalPrice" name="originalPrice" required></td>
                </tr>
                <tr>
                    <td>促销价：</td>
                    <td><input type="number" ng-model="discountPrice" name="discountPrice" required></td>
                </tr>
                <tr>
                    <td>库存：</td>
                    <td><input type="number" ng-model="rest" name="rest" required></td>
                </tr>
                <tr>
                    <td>限购数量：</td>
                    <td>每单每个ID最多<input type="number" ng-model="limit" name="limit" required>个</td>
                </tr>
                <tr>
                    <td>图片：</td>
                    <td><input type="file" name="images" accept="images/*" id="uploadImg" onchange="imagePreview(this)"></td>
                </tr>
                <tr>
                    <td>备注</td>
                    <td><input type="text" ng-model="summary" id="summary" name="summary" required></td>
                </tr>
            </table>
            <input type="button" value="提交" ng-disabled="goodForm.goodName.$error.required || goodForm.originalPrice.$error.required || goodForm.discountPrice.$error.required || goodForm.rest.$error.required || goodForm.limit.$error.required || goodForm.summary.$error.required"
                ng-click="addGood()">
            <input type="reset" value="重置">
        </form>
    </div>

    <div id="imgPreview"></div>

    <script src="./application/views/scripts/addGoodAngularJs.js" type="text/javascript"></script>
    <script src="./application/views/scripts/addGood.js" type="text/javascript"></script>
</body>

</html>