<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="./application/views/scripts/jquery.js" type="text/javascript"></script>
    <script src="./application/views/scripts/angular.js" type="text/javascript"></script>
    <link rel="stylesheet" href="./application/views/css/public.css" type="text/css">
    <link rel="stylesheet" href="./application/views/css/employeeManagement.css" type="text/css">
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div id="content">
        <p>当前位置： 系统管理 / 员工管理</p>
        <input type="button" id="addEmployee" value="+添加" ng-click="showAddEmployeeIf()">
        <input type="button" id="lockEmployee" value="使用/锁定" ng-click="changeStatus()"> 员工状态：
        <select name="" id="statusSelect" ng-model="statusSelect" ng-change="changeSelect()">
            <option value="使用">使用</option>
            <option value="锁定">锁定</option>
        </select>

        <div id="tbTitle">
            员工列表
        </div>

        <table id="employeeTb">
            <tr>
                <th><input type="checkbox" ng-model="changeAll" ng-click="changeAllFunc()"></th>
                <th>账户</th>
                <th>员工名称</th>
                <th>员工角色</th>
                <th>员工状态</th>
                <th>操作</th>
            </tr>

            <tr ng-repeat="(x, y) in employeeArr" ng-if="y.employee_status==statusSelect">
                <td><input type="checkbox" ng-model="y.got"></td>
                <td ng-bind="y.employee_id"></td>
                <td ng-bind="y.employee_name"></td>
                <td ng-bind="y.role_name"></td>
                <td ng-bind="y.employee_status"></td>
                <td><a href="#" ng-click="showChangeEmployeeIf(y.employee_id)">修改</a><a href="#" ng-click="deleteEmployee(y.employee_id, y.role_name)">删除</a></td>
            </tr>
        </table>
    </div>

    <div id="changeEmployeeIf" ng-show="changeEmployeeIf">
        <form name="changeEmployeeForm">
            姓名：<input type="text" name="eName" ng-model="eName" maxlength="5" placeholder="最多五个字" required><br/>
            <input type="button" value="姓名修改" ng-disabled="changeEmployeeForm.eName.$error.required" ng-click="changeEmployeeName()"><br/>            密码：
            <input type="text" ng-model="ePwd" maxlength="12" placeholder="最长12位" required><br/>
            <input type="button" value="重置密码" ng-disabled="changeEmployeeForm.ePwd.$error.required" ng-click="changeEmployeePwd()"><br/>            角色选择：
            <select ng-model="cRole">
                <option ng-repeat="x in roleArr" ng-value="x.role_id" ng-bind="x.role_name"></option>
            </select><br/>
            <input type="button" value="角色修改" ng-click="changeEmployeeRole()"><br/>
        </form>
    </div>

    <div id="addEmployeeIf" ng-show="addEmployeeIf">
        <form name="addEmployeeForm">
             账号：<input type="text" name="aId" ng-model="aId" maxlength="10" placeholder="最多10位" required><br/>

             姓名：<input type="text" name="aName" ng-model="aName" maxlength="5" placeholder="最多五个字" required><br/>
            密码：
            <input type="text" ng-model="aPwd" maxlength="12" placeholder="最长12位" required><br/>
            角色选择：
            <select ng-model="aRole">
                <option ng-repeat="x in roleArr" ng-value="x.role_id" ng-bind="x.role_name"></option>
            </select><br/>
            <input type="button" value="添加" ng-disabled="addEmployeeForm.aId.$error.required || addEmployeeForm.aPwd.$error.required || addEmployeeForm.aName.$error.required" ng-click="addEmployee()"><br/>
        </form>
    </div>

    <script src="./application/views/scripts/employeeManagementAngularJs.js"></script>
</body>

</html>