<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>goodInfo</title>
    <script src="./application/views/scripts/jquery.js" type="text/javascript"></script>
    <script src="./application/views/scripts/angular.js" type="text/javascript"></script>
    <link rel="stylesheet" href="./application/views/css/public.css" type="text/css">
    <link rel="stylesheet" href="./application/views/css/goodInfo.css" type="text/css">
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div id="content">
        <div id="headTitle">商品列表</div>
        <div>
            商品分类：<select ng-model="classifySelect">
                <option value="0">全部</option>
                <option value="1">手表配饰</option>
                <option value="2">运动户外</option>
                <option value="3">食品</option>
                <option value="4">女装</option>
                <option value="5">家纺</option>
                <option value="6">男装</option>
                <option value="7">电子</option>
                <option value="8">男鞋</option>
            </select> 商品状态：
            <select ng-model="statusSelect">
                <option value="0">全部</option>
                <option value="上架">在售</option>
                <option value="下架">下架</option>
            </select> 商品名： <input type="text" ng-model="inquireInfo">
            <input type="button" name="" value="查询" ng-click="infoChange()">
        </div>

        <div class="oneGood" ng-repeat="x in goodArr">
            <img ng-src="{{x.img_path}}">
            <p>{{x.good_name}}</p>
            <p>原价：￥{{x.original_price}}</p>
            <p>现价：￥{{x.discount_price}}</p>
            <p>库存：{{x.good_rest}}</p>
            <p>发布类型：{{x.post_type}}</p>
            <p>商品状态：{{x.good_status}}</p>
            <p>发布时间：{{x.post_time}}</p>
            <p><a href="#" ng-click="changeDetailIf(x.good_id)">编辑</a></p>
            <p><a href="#" ng-click="changeGoodStatus(x.good_id)">上架/下架</a></p>
            <p><a href="#" ng-click="showGoodDetail(x.good_id)">详情</a></p>
        </div>
        <div id="pageBtn">
            <input type="button" ng-repeat="(y, x) in inputArr" ng-value="y+1" ng-click="pageNowFunc(y)">
        </div>
    </div>

    <div ng-show="showDetail" id="showDetail">
        <div>商品名：{{gName}}</div>
        <div>原价：￥{{gOriginalPrice}}</div>
        <div>现价：￥{{gDiscountPrice}}</div>
        <div>库存：{{gRest}}</div>
        <div>限购数量：{{gLimit}}</div>
        <div>发布类型：{{gPostType}}</div>
        <div>商品状态：{{gStatus}}</div>
        <div>商品分类：{{gClassifyName}}</div>
        <div>商品描述：{{gSummary}}</div>
        <div>发布时间：{{gPostTime}}</div>
    </div>

    <div ng-show="changeDetail" id="changeDetail">
        商品名：<textarea cols="32" rows="3" maxlength="50" ng-model="gName"></textarea><br/> 原&emsp;价：
        <input type="number" ng-model="gOriginalPrice"><br/> 现&emsp;价：
        <input type="number" ng-model="gDiscountPrice"><br/> 库&emsp;存：
        <input type="number" ng-model="gRest"><br/> 限&emsp;购：
        <input type="number" ng-model="gLimit"><br/> 概&emsp;述：
        <textarea cols="32" rows="9" maxlength="150" ng-model="gSummary"></textarea><br/>
        <input type="button" value="提交" ng-click="changeDetailFunc()">
    </div>

    <script src="./application/views/scripts/goodInfoAngularJs.js" type="text/javascript"></script>
</body>

</html>