<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>goodDetails</title>
    <link rel="stylesheet" href="./application/views/css/public.css" type="text/css">
    <link rel="stylesheet" href="./application/views/css/goodDetail.css" type="text/css">
    <script src="./application/views/scripts/jquery.js" type="text/javascript"></script>
    <script src="./application/views/scripts/angular.js" type="text/javascript"></script>
    <script type="text/javascript" src="./application/views/scripts/chatForUsers.js"></script>
    <script src="./application/views/scripts/client.js" type="text/javascript"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <nav>
        <ul id="navMenu">
            <li class="vertical-head"></li>
            <li class="vertical-body">
                <img src="./application/views/images/logo.png">
            </li>
            <li class="vertical-body">
                <a class="nvaAWithBg" href="./index.php?c=Main&a=toMainView">首页</a>
            </li>
            <li class="vertical-body">
                <a class="nvaAWithBg" href="./index.php?c=PersonalInfo&a=toPersonalInfoView">个人中心</a>
            </li>
            <li class="vertical-body">
                <a class="nvaAWithBg" href="./index.php?c=PersonalInfo&a=toPersonalInfoview&f=myOrder">我的订单</a>
            </li>
            <li class="vertical-body">
                <a class="nvaAWithBg" href="./index.php?c=Seckill&a=toSeckillView">秒杀商城</a>
            </li>
            <li class="vertical-body">
                <img src="./application/views/images/lowest_price.png">
            </li>
            <li class="vertical-body navTitle">最低价格</li>
            <li class="vertical-body">
                <img src="./application/views/images/free_shopping.png">
            </li>
            <li class="vertical-body navTitle">全场包邮</li>
            <li class="vertical-body ">
                <a class="navA" href="./index.php?c=Login&a=toLoginView">登录</a>
            </li>
            <li class="vertical-body">
                <span>/</span>
            </li>
            <li class="vertical-body">
                <a class="navA" href="./index.php?c=Register&a=toRegisterView">注册</a>
            </li>
            <li id="showName" ng-show="loginNow != ''">当前登录：{{loginNow}}</li>
        </ul>
    </nav>
    <div id="content">
        <div id="showGoodImg">
            <img ng-src="{{goodDetail.img_path}}">
        </div>
        <div id="showDetails">
            <div id="productName" ng-bind="goodDetail.good_name"></div>
            <div id="productIntroduction" ng-bind="goodDetail.good_summary"></div>
            <table id="productPrice">

                <tr>
                    <td class="title">价格：￥</td>
                    <td class="boldSize" ng-bind="goodDetail.original_price"></td>
                </tr>
                <tr>
                    <td class="title">库&emsp;&emsp;存：</td>
                    <td class="lightSize" ng-bind="goodDetail.good_rest"></td>
                </tr>
                <tr>
                    <td class="title">限购数量：</td>
                    <td class="lightSize" ng-bind="goodDetail.good_limit"></td>
                </tr>
            </table>
            <input type="button" value="加入购物车" id="addToScBtn" ng-click="addToSc()">
            <input type="button" value="立即购买" id="seckillBtn" ng-click="addToOl()">
        </div>
        <div id="showSellerInfo">
            <p>小何电商总店</p>
            <p>信誉：
                <img src="./application/views/images/crown.gif">
                <img src="./application/views/images/crown.gif">
                <img src="./application/views/images/crown.gif">
                <img src="./application/views/images/crown.gif">
                <img src="./application/views/images/crown.gif">
            </p>
            <p>掌柜：小何同志</p>
            <p>联系：
                <img src="./application/views/images/contactWithMe.gif">
            </p>
        </div>
    </div>
    <div id="btnList">
        <input type="button" value="商品详情" class="btnSelected">
        <input type="button" value="商品记录" class="btnUnselected">
        <input type="button" value="商品评论" class="btnUnselected">
    </div>
    <div id="aboutGoods">
        <div id="pageDetail">
            <img ng-src="{{detailImg}}">
        </div>
        <div id="pageRecord">
            <table id="headTable">
                <tr>
                    <td>用户名</td>
                    <td>数量</td>
                    <td>价格</td>
                    <td>秒杀时间</td>
                </tr>
            </table>
            <div></div>
            <p ng-show="showNoRecord">目前还没有用户交易成功(付款成功)</p>

            <table id="bodyTable">
                <tr ng-repeat="x in recordArr">
                    <td ng-bind="x.user_id"></td>
                    <td ng-bind="x.total"></td>
                    <td ng-bind="x.original_price"></td>
                    <td ng-bind="x.create_time"></td>
                </tr>
            </table>
        </div>
        <div id="pageComment">
            <textarea title="评论在5-180字之间" ng-model="enterComment"></textarea>
            <input type="button" value="发表评论" ng-click="addComment()">
            <div></div>
            <p ng-show="showComment">目前还没有用户发表评论</p>
            <div id="showComment">
                <div class="commentObj" ng-repeat="(y, x) in commentArr">
                    <div ng-bind="x.user_id"></div>
                    <div>#{{commentLen - y}}</div>
                    <div ng-bind="x.content"></div>
                    <div>发表于 {{x.create_time}}</div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>小何秒杀网</p>
        <p>Copyright © 1998 - 2017 April. All Rights Reserved.</p>
        <p>小何公司 版权所有 小何电商文化经营许可证</p>
        <p>联系网站管理员：
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=467576403&site=qq&menu=yes">
                <img border="0" src="http://wpa.qq.com/pa?p=2:467576403:41" alt="联系管理员" title="联系管理员" />
            </a>
        </p>
    </footer>

    <div id="floatLogo">
        <img src="./application/views/images/floatLogo.gif">
        <p>联系客服</p>
    </div>
    <div id="chatWithService"></div>

    <script src="./application/views/scripts/public.js" type="text/javascript"></script>
    <script src="./application/views/scripts/goodDetailAngularJs.js" type="text/javascript"></script>
    <script src="./application/views/scripts/goodDetail.js" type="text/javascript"></script>
</body>

</html>