<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" href="./application/views/css/public.css" type="text/css">
    <link rel="stylesheet" href="./application/views/css/main.css" type="text/css">
    <script src="./application/views/scripts/jquery.js" type="text/javascript"></script>
    <script src="./application/views/scripts/angular.js" type="text/javascript"></script>
</head>
<body>
    <nav>
        <ul id="navMenu">
            <li class="vertical-head"></li>
            <li class="vertical-body"><img src="./application/views/images/logo.png"></li>
            <li class="vertical-body"><a class="nvaAWithBg" href="#">首页</a></li>
            <li class="vertical-body"><a class="nvaAWithBg" href="#">个人中心</a></li>
            <li class="vertical-body"><a class="nvaAWithBg" href="javascript:sessionStorage.fromMyOrder = 'true';window.location.href = 'personalInfo.html';">我的订单</a></li>
            <li class="vertical-body"><img src="./application/views/images/limit_shopping.png"></li>
            <li class="vertical-body navAd">限时抢购</li>
            <li class="vertical-body"><img src="./application/views/images/lowest_price.png"></li>
            <li class="vertical-body navAd">最低价格</li>
            <li class="vertical-body"><img src="./application/views/images/free_shopping.png"></li>
            <li class="vertical-body navAd">全场包邮</li>
            <li class="vertical-body "><a class="navA" href="./">登录</a></li>
            <li class="vertical-body"><span>/</span></li>
            <li class="vertical-body"><a class="navA" href="#">注册</a></li>
            <li id="showName"></li>
        </ul>
    </nav>
    <div id="banner">
        <div id="bannerSlider">
            <div>
                <img src="./images/bannerSlider5.png">
                <img src="./images/bannerSlider1.png">
                <img src="./images/bannerSlider2.png">
            </div>
        </div>
        <input type="button" value="&lt;" id="previousPageBtn">
        <input type="button" value="&gt;" id="nextPageBtn">
        <div id="sliderDot"></div>
    </div>
    <footer>
        <p>小何秒杀网</p>
        <p>Copyright © 1998 - 2017 April. All Rights Reserved.</p>
        <p>小何公司 版权所有 小何电商文化经营许可证</p>
    </footer>


    <script>
        var app = 
    
    </script>
</body>
</html>