<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" href="./application/views/css/public.css" type="text/css">
    <link rel="stylesheet" href="./application/views/css/main.css" type="text/css">
    <script src="./application/views/scripts/jquery.js" type="text/javascript"></script>
    <script src="./application/views/scripts/angular.js" type="text/javascript"></script>
    <script src="./application/views/scripts/slider.js" type="text/javascript"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <nav>
        <ul id="navMenu">
            <li class="vertical-head"></li>
            <li class="vertical-body"><img src="./application/views/images/logo.png"></li>
            <li class="vertical-body"><a class="nvaAWithBg" href="#">首页</a></li>
            <li class="vertical-body"><a class="nvaAWithBg" href="#">个人中心</a></li>
            <li class="vertical-body"><a class="nvaAWithBg" href="javascript:sessionStorage.fromMyOrder = 'true';window.location.href = 'personalInfo.html';">我的订单</a></li>
            <li class="vertical-body"><img src="./application/views/images/limit_shopping.png"></li>
            <li class="vertical-body navAd">限时抢购</li>
            <li class="vertical-body"><img src="./application/views/images/lowest_price.png"></li>
            <li class="vertical-body navAd">最低价格</li>
            <li class="vertical-body"><img src="./application/views/images/free_shopping.png"></li>
            <li class="vertical-body navAd">全场包邮</li>
            <li class="vertical-body "><a class="navA" href="./index.php?c=Login&a=toLoginView">登录</a></li>
            <li class="vertical-body"><span>/</span></li>
            <li class="vertical-body"><a class="navA" href="./index.php?c=Register&a=toRegisterView">注册</a></li>
            <li id="showName" ng-show="loginNow != ''">当前登录：{{loginNow}}</li>
        </ul>
    </nav>
    <div id="banner">
        <div id="bannerSlider">
            <div>
                <img src="#" alt="">
                <img src="#" alt="">
                <img src="#" alt="">
            </div>
        </div>
        <input type="button" value="&lt;" id="previousPageBtn">
        <input type="button" value="&gt;" id="nextPageBtn">
        <div id="sliderDot"></div>
    </div>

    <div id="content">
        <div id="contentLeft">
            <div>
                <ul id="contentLeftHead">
                    <li class="vertical-head"></li>
                    <li class="vertical-body">
                        <div></div>
                    </li>
                    <li class="vertical-body">火热商品 正在销售</li>
                </ul>
            </div>
            <div></div>
            <div id="showGoods">
                <div class='showGoodInfo' ng-repeat="(y, x) in goodArr" ng-click="toGoodDetail(x.good_id)">
                    <img ng-src="{{x.img_path}}">
                    <div>
                        <div ng-bind="x.good_name"></div>
                        <div>
                            <span>价格：￥{{x.original_price}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="showBtn">
                <input type="button" ng-repeat="x in inputArr" ng-value="x + 1" ng-click="changePageNow(x)">
            </div>
        </div>
        <div id="contentRight">
            <div>
                <ul id="contentRightHead">
                    <li class="vertical-head"></li>
                    <li class="vertical-body">
                        <div></div>
                    </li>
                    <li class="vertical-body">荣誉墙</li>
                </ul>
            </div>
            <div id="showHonorsLimit">
                <ul id="showHonors">
                    <li ng-repeat="x in honorArr">恭喜用户{{x.user_id}}抢到商品</li>
                </ul>
            </div>
        </div>
    </div>


    <footer>
        <p>小何秒杀网</p>
        <p>Copyright © 1998 - 2017 April. All Rights Reserved.</p>
        <p>小何公司 版权所有 小何电商文化经营许可证</p>
    </footer>

    <ul id="floatClassify">
        <li ng-click="changeClassify(0)">全部</li>
        <li ng-repeat="x in classifyArr" ng-bind="x.classify_name" ng-click="changeClassify(x.classify_id)"></li>
    </ul>


    <script src="./application/views/scripts/mainAngularJs.js" type="text/javascript"></script>
</body>

</html>