/*--------------------public.css用以储存每个页面都有的样式------------------------*/


/*--------------------全局样式------------------------*/

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/*--------------------nav的样式------------------------*/

nav {
    width: 100%;
    height: 60px;
    background-color: rgb(185, 0, 0);
}

#navMenu {
    height: 100%;
    width: 980px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#navMenu>li {
    text-align: center;
}

#navMenu>li:nth-child(7) {
    margin-left: 30px;
}

#navMenu>li:nth-child(11) {
    margin-left: 60px;
}

#navMenu img {
    display: block;
}

.nvaAWithBg {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
}

.nvaAWithBg:hover {
    color: red;
    background-color: white;
    border-radius: 5px;
}

.navAd {
    font-size: 14px;
    color: rgb(240, 240, 240);
    width: 65px;
}

.navTitle {
    font-size: 14px;
    color: rgb(240, 240, 240);
    width: 65px;
}

.navA {
    text-decoration: none;
    color: white;
    font-size: 13px;
    display: block;
    text-align: center;
    width: 40px;
}

#showName {
    width: 170px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 16px;
    right: 10px;
    background-color: rgb(185, 0, 0);
    font-size: 13px;
    color: white;
}


/*--------------------footer的样式------------------------*/

footer {
    width: 100%;
    height: 105px;
    background-color: rgb(56, 56, 56);
    text-align: center;
    margin-top: 170px;
}

footer p {
    line-height: 35px;
    font-family: "宋体";
    font-size: 13px;
    color: white;
}


/*--------------------打开注册或登录窗口的遮罩层------------------------*/

#transMask {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 9;
}


/*--------------------登录窗口------------------------*/

#loginInterface {
    width: 316px;
    height: 280px;
    border: 2px solid #222222;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -140px -198px;
    padding: 40px;
    text-align: center;
    display: none;
    z-index: 10;
}

#loginInterface>input:not([type="button"]) {
    width: 304px;
    height: 38px;
    border: 1px solid #e2e2e2;
    padding-left: 10px;
}

#loginInterface>div {
    width: 316px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    color: red;
}

#loginInterface>input[value="登录"] {
    width: 100px;
    height: 40px;
    color: white;
    font-size: 22px;
    background-color: rgb(219, 112, 0);
    border: none;
    border-radius: 3px;
}

#loginInterface>input[value="X"] {
    font-size: 20px;
    font-weight: 600;
    border: none;
    background: none;
    float: right;
    margin-top: -40px;
    margin-right: -35px;
}


/*--------------------注册窗口------------------------*/

#registerInterface {
    width: 316px;
    height: 360px;
    border: 2px solid #222222;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -220px -198px;
    padding: 40px;
    text-align: center;
    display: none;
    z-index: 10;
}

#registerInterface input:not([type="button"]):not([type="reset"]) {
    width: 304px;
    height: 38px;
    border: 1px solid #e2e2e2;
    padding-left: 10px;
}

#registerInterface div {
    width: 316px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    color: red;
}

#registerInterface input[value="注册"],
input[value="重置"] {
    width: 100px;
    height: 40px;
    color: white;
    font-size: 22px;
    background-color: rgb(219, 112, 0);
    border: none;
    border-radius: 3px;
}

#registerInterface>input[value="X"] {
    font-size: 20px;
    font-weight: 600;
    border: none;
    background: none;
    float: right;
    margin-top: -40px;
    margin-right: -35px;
}


/*--------------------聊天窗口------------------------*/

#chatWithService {
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    margin-left: -50px;
    margin-top: -100px;
}

#floatLogo {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: 600px;
    margin-top: 100px;
    cursor: pointer;
}


/*--------------------防爆条所需要的样式------------------------*/

.safetyBarSDiv {
    height: 50px;
    border: 1px solid #e2e2e2;
    position: relative;
    margin-bottom: 30px;
}

.safetyBarSDiv>div:first-child {
    width: 0;
    height: 100%;
    background-color: rgb(0, 186, 47);
}

.safetyBarSDiv>div:nth-child(2) {
    width: 48px;
    height: 48px;
    border: 1px solid rgb(133, 133, 133);
    position: absolute;
    top: 0;
    cursor: pointer;
    background-image: url("../images/btn_bd1.png");
}


/*--------------------羊肉串所需要的样式------------------------*/

.vertical-head {
    height: 100%;
    width: 1px;
    display: inline-block;
    vertical-align: middle;
}

.vertical-body {
    vertical-align: middle;
    display: inline-block;
}