nav {
    width: 100%;
    height: 100px;
    background-color: rgb(11, 65, 83);
}

nav>div {
    width: 1190px;
    height: inherit;
    margin: 0 auto;
}

#navLogo {
    margin-right: 150px;
}

#headImg {
    width: 40px;
    height: 40px;
    border-radius: 27px;
    border: 2px solid white;
}

.hint {
    color: white;
    font-size: 14px;
    font-weight: 300;
    margin-left: 120px;
}

#userName,
#userRole {
    font-size: 18px;
    color: white;
    font-weight: 500;
}

#exitLogin {
    color: red;
    font-weight: 700;
    font-size: 20px;
    margin-left: 30px;
}

#content {
    width: 1190px;
    height: 650px;
    background-color: grey;
    margin: 0 auto;
}

#contentLeft {
    float: left;
    width: 200px;
    height: inherit;
    background-color: red;
}

iframe {
    float: left;
    width: 990px;
    height: inherit;
    background-color: green;
}