/* -------------公共样式-------------------- */

* {
    margin: 0 auto;
    padding: 0 auto;
}

ul {
    list-style: none;
}

.verticalHead {
    display: inline-block;
    width: 1px;
    height: inherit;
    vertical-align: middle;
}

.verticalBody {
    display: inline-block;
    vertical-align: middle;
}

